
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-white-900">Faça seu Resgistro</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">    <form class="space-y-6" (ngSubmit)="gravar()">
      <div>
        <label for="email" class="block text-sm/6 font-medium text-white-900">Email</label>
        <div class="mt-2">
          <input type="email" [(ngModel)]="obj.email" name="email" id="email" autocomplete="email" required class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
        </div>
      </div>

      <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">    <form class="space-y-6" (ngSubmit)="gravar()">
      <div>
        <label for="cpf" class="block text-sm/6 font-medium text-white-900">CPF</label>
        <div class="mt-2">
          <input type="cpf" [(ngModel)]="obj.cpf" name="cpf" id="cpf" autocomplete="cpf" required class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
        </div>
      </div>

      <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">    <form class="space-y-6" (ngSubmit)="gravar()">
      <div>
        <label for="telefone" class="block text-sm/6 font-medium text-white-900">Telefone</label>
        <div class="mt-2">
          <input type="telefone" [(ngModel)]="obj.telefone" name="telefone" id="telefone" autocomplete="telefone" required class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="block text-sm/6 font-medium text-white-900">Senha</label>
        </div>
        
        <div class="mt-2">
          <input type="password" [(ngModel)]="obj.senha" name="senha" id="senha" autocomplete="current-password" required class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
        </div>      </div>      
      <div *ngIf="mensagem" class="text-sm text-center" [class.text-green-600]="mensagem.includes('sucesso')" [class.text-red-600]="!mensagem.includes('sucesso')">
        {{mensagem}}
      </div>

      <div class="text-sm">
        <a href="http://localhost:4200/login" class="font-semibold text-indigo-600 hover:text-indigo-500 tex">Já está cadastrado? Entre</a>
      </div>

      <div>
        <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Cadastrar</button>
      </div>
    </form>
  </div>
  


