<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vitrine de Bolachas</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>   

<div class="h-130 flex justify-center items-center">    <div class="card bg-indigo-900/90 border border-indigo-800 shadow-2xl rounded-2xl max-w-125 w-full">
        <figure class="px-8 pt-8">
            <img [src]="bolacha.categoria.toLowerCase() + (bolacha.codigo === 8 ? '8' : (bolacha.codigo > 4 ? bolacha.codigo - 4 : bolacha.codigo)) + '.png'" alt="{{bolacha.marca}}" class="rounded-xl w-32 h-32 object-contain drop-shadow-lg" />
        </figure>
          <div class="card-body items-center text-center p-6">
            <h2 class="card-title text-white text-2xl mb-2">{{bolacha.nome}}</h2>
            <p class="text-indigo-100 text-base mb-4">{{bolacha.descricao}}</p>
            
            <p class="text-indigo-200 text-lg font-semibold mb-6">R${{bolacha.valor}}</p>
        
            <div class="card-actions flex flex-col items-center gap-2 w-full">
                <button class="btn btn-primary rounded-xl border-none hover:bg-indigo-600 text-white w-60" (click)="adicionarBolacha(bolacha)">
                    Adicionar à cesta
                </button>

                <button class="btn btn-ghost rounded-xl bg-indigo-500 hover:bg-indigo-600 text-indigo-200 w-60" (click)="voltar()" style="margin-bottom: 1em;">
                    Voltar para a vitrine
                </button>
            </div>

        </div>
    </div>

</div>