<div class="h-screen w-380 bg-linear-to-r from-blue-950 via-indigo-950 to violet-950">

<div *ngIf="!hideHeader" class="flex justify-between items-center h-18 bg-indigo-950 shadow-sm">

  <div style="margin-left: 2em;">
    <a class="btn btn-ghost text-xl" href="https://oreo.com" target="_blank"><img src="logo-oreo.png" width="80em" style="margin-top: -0.7em;"></a>
  </div>

    <div class="flex justify-center items-center lg:flex-grow lg:px-4 ml-20">
      <label class="input flex items-center w-full max-w-xs h-10 rounded-lg bg-indigo-800 hover:bg-indigo-900 text-white focus-within:ring-1 focus-within:ring-indigo-400 transition-all duration-300 ease-in-out lg:max-w-md">

        <svg class="h-4 w-4 text-gray-400 mx-2 shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="11" cy="11" r="8"></circle>
            <path d="M21 21l-4.35-4.35"></path>
        </svg>

        <input type="search" placeholder="Pesquisar" [(ngModel)]="filtro" (keydown.enter)="fazerBusca()" class="bg-transparent h-full w-full text-sm focus:outline-none pr-2 placeholder-gray-400"/>
      </label>
    </div>
    
    <div class="flex items-center justify-end gap-1 lg:gap-2">
    
      <div class="dropdown dropdown-end">
        
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
          <div class="indicator">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 lg:h-6 xl:h-7" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"/>
            </svg>
            <span class="badge badge-xs lg:badge-sm indicator-item">{{cesta.quantidade}}</span>
          </div>
        </div>
        
        <div tabindex="0" class="card card-compact dropdown-content bg-indigo-900 w-48 lg:w-52 shadow-lg rounded-md z-20"> 
          <div class="card-body text-white p-3 lg:p-4"> 
            <span class="text-sm lg:text-base font-bold">{{cesta.quantidade}} bolachas</span> 
            <span class="text-indigo-300 text-xs lg:text-sm">Total: R${{cesta.total | number: '1.2-2'}}</span> 
            <div class="card-actions mt-1 lg:mt-2">
              <button class="btn btn-xs lg:btn-sm bg-indigo-600 hover:bg-indigo-500 text-white border-none btn-block rounded-md" (click)="verCarrinho()">Ver carrinho</button> 
            </div>
          </div>
        </div>
      
      </div>
      
      
      <div class="dropdown dropdown-end">
        
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-6 h-6 lg:w-8 xl:w-10 rounded-full">
            <img alt="Imagem de perfil" src="conta.png" style="filter: invert(1)" class="cover"/> 
          </div>
        </div>
      </div>      <ul 
        tabindex="0"
        class="card card-compact dropdown-content bg-indigo-900 border border-indigo-700 w-52 shadow-lg rounded-md p-2">

        <li><a class="text-sm text-indigo-200 hover:bg-indigo-700 hover:text-white rounded-md hover:cursor-pointer" (click)="verPerfil()">Perfil</a></li>
        <li><a class="text-sm text-indigo-200 hover:bg-indigo-700 hover:text-white rounded-md hover:cursor-pointer">Configurações</a></li>
        <li><a class="text-sm text-indigo-200 hover:bg-indigo-700 hover:text-white rounded-md hover:cursor-pointer">Sair</a></li>

      </ul>

    </div>
  </div>

  <router-outlet />

</div>

